$qwe:#2DD8AD;
body {
    background-color: $qwe;
    color: red;
}
h1 {
    background-color: blue;
    color: red;
}
h2 {
    background-color: purple;
}
a {
    font-size: 34px;
    color: black;
}
