<div>
    <h1 id="test">姓名{{name}}</h1>
    <h2>这里是年龄啊： {{age}}</h2>
</div>
<div class="grid">
       <div class="col-2"><div class="info"></div><div class="a">d</div></div>
       <div class="col-2"><div class="info"></div><div class="a">d</div></div>
       <div class="col-2"><div class="info"></div><div class="a">d</div></div>
       <div class="col-2"><div class="info"></div><div class="a">d</div></div>
       <div class="col-2"><div class="info"></div><div class="a">d</div></div>
       <div class="col-2"><div class="info"></div><div class="a">d</div></div>
   </div>
