@function px2rem($px) {
    //$px为需要转换的字号
    @return $px / 37.5px * 1rem; //75px为根字体大小
}
$qwe: #2DD8AD;
body {
    background-color: $qwe;
    color: red;
}
h1 {
    background-color: blue;
    color: red;
}
h2 {
    background-color: purple;
}
a {
    font-size: px2rem(34px);
    color: black;
}
#test {
    background: pink;
    height: px2rem(100px);
}
.mt-range-thumb {
    background: blue;
}
